[run]
omit =
    tests/*
    venv/*
    .venv/*
    start.py
    dashboard.py
    scripts/sagemaker_train.py
    src/data/preprocess_spark.py
    scripts/run_sagemaker_job.py
    src/models/train.py
    src/models/tune.py
